.search-bar-section {
    padding-top: 50px;
    width: 70%;
    margin: auto;
    input {
        display: block;
        width: 100%;
        padding: 15px;
        border: 2px solid #b8b8b6;
        border-radius: 5px;
        outline: none;
        font-size: 20px;
        color: #51514F;
    }
}